---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <div class="landing-div">
    <img class="landing-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/NAS-143_Pinus_rigida.png/1024px-NAS-143_Pinus_rigida.png">
    <div class="landing-content">
      <p>"Pinus rigida, the pitch pine, is a small-to-medium-sized pine."</p>

      <p>"It is found in environments which other species would find unsuitable for growth such as acidic, sandy, and low nutrient soils; it is the primary tree of the New Jersey Pine Barrens"</p>

      <p> <a href="https://en.wikipedia.org/wiki/Pinus_rigida">"Pinus Rigida"</a>, <i>Wikipedia: The Free Encylopedia</i></p>
    </div>
  </div>
</div>
